.pbe {
    margin-top: 50px;

}

.pbe h1 {
    font-size: 3rem;
    font-family: 'Abhaya';
    color: #A6786D;
}

.pbe p {
    font-size: 1.25rem;
    font-family: 'ABeeZee';
    color: #A6786D;
}

.pbe ul {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.pbe li {
    text-align: center;
    background: #E1C3B8;
    padding: 50px;
    border-radius: 8px;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    cursor: pointer;
}

.pbe li:hover {
    transform: translateY(-10px);
}

.pbe span {
    background: #A6786D;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-family: 'Abhaya';
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 2rem;

    position: absolute;
    top: -25px;
    left: -25px;
    margin-left: 10px;
}

.pbe li > h1 {
    font-family: 'Abhaya';
    font-size: 2.25rem;
    color: #A6786D;
}

.pbe li > p {
    margin-top: 10px;
    font-family: 'ABeeZee';
    color: #FFF;
    font-size: 1.5rem;
}

@media (max-width: 900px) {
    .pbe h1 {
        font-size: 2rem;
    }

    .pbe p {
        font-size: 1rem;
    }

    .pbe li > h1 {
        font-size: 1.25rem;
    }

    .pbe li > p {
        font-size: 1rem
    }

    .pbe li {
        padding: 30px;
    }

    span {
        
    }
}

@media (max-width: 750px) {
    .pbe ul {
        grid-template-columns: 1fr;
    }

    .pbe span {
        width: 50px;
        height: 50px;
        font-size: 1.5rem;
        top: -20px;
        left: -20px;
    }

    .pbe li {
        padding: 40px;
    }

    .pbe li > h1 {
        font-size: 1.6rem;
    }

    .pbe li > p {
        font-size: 1.1rem;
    }
}
