.video-bg {
    margin-top: 50px;
    background: #A6786D;
    padding: 50px 0;
    display: flex;
    justify-content: center; /* alinha horizontalmente */
    align-items: center;     /* alinha verticalmente */
    flex-direction: column;
    text-align: center;
}

.video h1 {
    font-size: 3rem;
    color: #FFF;
    text-align: center;
    font-family: 'Abhaya';
}

.video p {
    font-size: 1.25rem;
    font-family: 'ABeeZee';
    color: #FFF;
    text-align: center;
    margin-top: 20px;
}

.video iframe {
    margin-top: 40px;
    width: 90%;
    max-width: 800px;
    height: 450px;
    border-radius: 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

@media (max-width: 900px) {
    .video h1 {
        font-size: 2.2rem;
    }

    .video p {
        font-size: 1rem;
    }

    .video iframe {
        height: 350px;
    }
}

@media (max-width: 750px) {
    .video h1 {
        font-size: 1.8rem;
    }

    .video p {
        font-size: 0.95rem;
    }

    .video iframe {
        height: 250px;
    }
}
